/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Proza+Libre:wght@400;500;600;700;800&display=swap');

/* -- Body -- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body {
    background-color: #f1f1ef;
    color: #1A1A1B;
}


/* -- Nav Bar -- */

.navbar {
    background-color: #606c38;
}

.navbar-toggler {
    border: solid 0.5px #f1f1ef;
    margin-left: auto;
}

.navbar li {
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar .nav-link {
    color: #f1f1ef;  
    font-size: 18px;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 500;
    border-bottom: transparent 1px solid;
}

.navbar .nav-link:hover {
    color: #f1f1ef;   
    font-size: 18px;
    font-family: 'Proza Libre', sans-serif;
    border-bottom: #f1f1ef 1px solid;
}


/* -- Home Container Image -- */

.home-container {
    height: 100vh;
    max-width: 100%;

    background: url('../images/ireland-landscape-fields.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


/* -- Jumbotron -- */

.jumbotron {
    background-color: transparent;
    color: #f1f1ef;
}

.jumbotron h1 {
    font-size: 46px;
    font-weight: bolder;
    margin: 6px 0px;
}

.jumbotron .lead {
    font-size: 22px;
    margin: 6px 0px;
    font-family: 'Proza Libre', sans-serif;
}


/* -- Headings -- */

.heading-color {
   color: #1A1A1B
}

.cta-heading {
    display: flex;
    justify-content: center;
}

.headings {
    font-family: 'Proza Libre', sans-serif;
}

h4 {
    display: flex;
    justify-content: center;
}

#suggestLocationHeading {
    margin: auto;
}


/* -- Paragraphs -- */

.cta-paragraph {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.text-for-images {
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-border {
    border-bottom: 0.5px solid #1A1A1B;
}


/* -- Images -- */

.img-fluid {
    border-radius: 1%;
}


/* -- Buttons -- */

.btn-custom{
    border: 0.5px solid #1A1A1B;
    background-color: #606c38;
    margin-top: 3px;
    color: #F7F2E9;
    font-size: 16px;
}

.form-control:focus {
  border-color: #1A1A1B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075);
}

.explore-btn {
    font-size: 18px;
    font-weight: 400;
}

.explore-btn:hover {
    border: 0.5px solid #1A1A1B;
    background-color: #F7F2E9;
    font-size: 18px;
}

.button-group {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

 .map-button {
    margin: 5px;
}

.active-map-button {
    background-color: #dcdcdc;
    color: #1A1A1B;
}

.map-button:hover{
    background-color: #dcdcdc 
}

.newsletter-btn {
    margin-left: 10px;
    width: 40%;
}

.newsletter-btn:hover {
    margin-left: 10px;
    width: 40%;
}


/* Modal and Contact Form  */

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

div.modal-header {
    background-color: #f1f1ef;
}

div.modal-body {
    background-color: #f1f1ef;
}

input:focus {
    box-shadow: none;
}

#success-message {
    display: none;
}

#error-message {
    display: none;
}


/* -- Map -- */

#map {
    width: 100%;
    height: 630px;
    border: 0.5px solid #1A1A1B;
}

.map-images{
    width: 250px;
    height: 200px;
}

.map-pop-up-text{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
} 

.pop-up-info {
    font-size: 16px;
    margin-bottom: auto;
    display: flex;
    text-align: center;
}

.pop-up-heading {
    text-align: center;
    
}

.pop-up-container {
    display: table-caption;
}


/* -- Footer -- */

.footer-container {
    height: 70vh;
    max-width: 100%;

    background: url('../images/mountain-view.jpg') no-repeat center right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
} 

#newsletterThankYou {
    display: none;
}

.site-map {
    display: flex;
    align-items: center;
}

a.footer-nav {
    color: #444444;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 500;
}

a.footer-nav:hover{
    color: #444444;
    border-bottom: 0.5px solid #444444;
    font-family: 'Proza Libre', sans-serif;
}


/* -- Icons -- */

.icons {
    margin: 10px;
    color: #444444;
}

.icons:hover{
    transform: scale(1.2);
    
}

.social-media-icons { 
    display: flex;
    justify-content: center;
}


/* -- Media Query -- */

 @media (max-width: 770px) {
  .button-group {
    display: flex;
    flex-direction: column;
  }
} 




