/* -- Body -- */

body {
    background-color: #f1f1ef;
    color: #34421e;
}


/* -- Nav Bar -- */

.navbar {
    background-color: #c19434;
    border-bottom: 0.5px solid black;
}

.navbar-toggler {
    border: solid 0.5px black;
    margin-left: auto;
}

.navbar li {
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar .nav-link {
    color: black;  
    font-size: 18px;
}

.navbar .nav-link:hover {
    color: black;  
    font-size: 18px;
}


/* -- Home Container Image -- */

.home-container {
    height: 100vh;
    max-width: 100%;

    background: url('../images/ireland-landscape-fields.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* -- Jumbotron -- */

.jumbotron {
    background-color: transparent;
    color: #f1f1ef;
}

.jumbotron h1 {
    font-size: 46px;
    font-weight: bolder;
    margin: 6px 0px;
}

.jumbotron .lead {
    font-size: 22px;
    margin: 6px 0px;
}

/* -- Headings -- */

.cta-heading {
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
}

#suggestLocationHeading {
    margin: auto;
}

/* -- Paragraphs -- */

.cta-paragraph {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.text-for-images {
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;

}

.image-container {
    border-bottom: 0.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -- Images -- */

.img-fluid {
    border-radius: 1%;
}

/* -- Buttons -- */

.explore-btn {
    border: 0.5px solid black;
    background-color: #c19434;
    font-size: 18px;
    margin-top: 3px;
    color: black;
}

.button-group {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

 .map-button {
    border: black solid 0.5px;
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
}
 

.newsletter-btn {
    margin-left: 10px;
    width: 40%;
    background-color: #c19434;
    color: black;
    border: solid 0.5px black;
}

.newsletter-btn:hover {
    margin-left: 10px;
    width: 40%;
    background-color: #f1f1ef;
    color: black;
    border: solid 0.5px black;
}

.map-button:hover{
    background-color: #dcdcdc 
}


/* #modalSuggestButton {
    display: flex;
    justify-content: center;
} */



/* -- Contact Form -- */

.suggestion-form {
    display: inline-block;
    text-align: center;
}

#success-message {
    display: none;
}

#error-message {
    display: none;
}

/* -- Map -- */

#map {
    width: 100%;
    height: 630px;
    border: 0.5px solid black;
}

.map-images{
    width: 250px;
    height: 200px;
}

.map-pop-up-text{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
} 

.pop-up-info {
    font-size: 16px;
    margin-bottom: auto;
    display: flex;
    text-align: center;
}

.pop-up-heading {
    text-align: center;
    
}

.pop-up-container {
    display: table-caption;
}

/* -- Footer -- */

.footer-container {
    height: 70vh;
    max-width: 100%;

    background: url('../images/mountain-view.jpg') no-repeat center right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.site-map {
    display: flex;
    align-items: center;
}

a.footer-nav {
    color: black;
}

a.footer-nav:hover{
    color: black;
    border-bottom: 0.5px solid black;
}

.modal-container {
    display: flex;
    justify-content: center;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
} 


/* -- Icons -- */

.icons {
    margin: 10px;
    color: black;
}

.icons:hover{
    transform: scale(1.2);
    
}

.social-media-icons { 
    display: flex;
    justify-content: center;
}


/* -- Media Query -- */

 @media (max-width: 770px) {
  .button-group {
    display: flex;
    flex-direction: column;
  }
} 

/* @media (max-width: 767px) {
  .map-button {
    display: block;
    width: 100%;
  }
} */


